<section class="d-flex flex-column">
  <nav class="d-block d-md-none navbar bg-color-whisper">
    <div class="d-flex align-items-center justify-content-between w-100 h-100">
      <div class="logo">
        <img src="assets/icons/logo.svg" alt="Logo" />
      </div>
    </div>
  </nav>
  <div class="d-flex section-content flex-grow-1">
    <app-sidebar></app-sidebar>
    <div class="d-flex flex-column flex-grow-1 position-relative w-100">
      <div class="w-100">
        <app-top-search-input></app-top-search-input>
      </div>
      <div class="px-6 py-3">
        <h4 class="text-dark mb-3">Transaction Logs</h4>
        <div class="row mt-5">
          <div class="custom-col">
            <app-dropdown
              formControlName="provider"
              label="Provider"
              [options]="providerOpt"
              id="provider"
              (selected)="getValue($event)"
            ></app-dropdown>
          </div>
          <div class="custom-col">
            <app-dropdown
              formControlName="requestType"
              label="Request Type"
              [options]="requestTypeOpt"
            ></app-dropdown>
          </div>
          <div class="custom-col">
            <app-dropdown
              formControlName="insurance"
              label="Insurance Company"
              [options]="insuranceOpt"
            ></app-dropdown>
          </div>
          <div class="custom-col">
            <app-datepicker
              formControlName="startDate"
              label="Start Date"
              id="startDate"
              (selected)="getValue($event)"
            ></app-datepicker>
          </div>
          <div class="custom-col">
            <app-datepicker
              formControlName="endDate"
              label="End Date"
              id="endDate"
              (selected)="getValue($event)"
            ></app-datepicker>
          </div>
          <div class="custom-col">
            <app-dropdown
              formControlName="transaction"
              label="Transaction Status"
              [options]="transactionOpt"
              id="status"
              (selected)="getValue($event)"
            ></app-dropdown>
          </div>
          <div class="custom-col">
            <app-input
              formControlName="patient_lastName"
              label="Patient Last Name"
              id="lastName"
              (selected)="getValue($event)"
            ></app-input>
          </div>
        </div>
        <button class="btn btn-primary generateBtn" (click)="generate()">
          Generate
        </button>
        <app-claim-table [dataSource]="tableData"></app-claim-table>
      </div>

      <div class="flex-grow-1 overflow-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
