:host {
  display: block;
  background: #232f92;
  height: 100%;
  z-index: 999;
}

.logo {
  &:focus,
  &:hover,
  &:active {
    outline: none !important;
  }
}

.sidebar {
  position: relative;
  width: 86px;
  height: 100vh;
  padding-left: 18px;
  padding-top: 25px;

  .main-content {
    height: calc(100vh - 50px);
  }

  a {
    width: 55px;
    height: 55px;
    padding: 15px;
    border-radius: 8px;
    text-decoration: none;

    .active {
      display: none;
    }
    .inactive {
      display: block;
    }

    &:hover,
    &.active {
      background: #fafafa;
      color: black;
      .active {
        display: block;
      }
      .inactive {
        display: none;
      }
    }
  }

  .avatar {
    width: 30px;
    border-radius: 5px;
  }
}

.status-dot {
  right: 5px;
  height: 10px;
  width: 10px;
  background: #8af1b9;
  border: 2px solid #3b4ef4;
  border-radius: 50%;
  bottom: -2px;
}
